body {
    padding-top: 56px;
}

.carousel-item {
    position: relative;
}

#random-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Цвет текста */
    /* Дополнительные стили */
}
