{% load static %}


{% block css %}
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <hr>

            <div class="col-lg-12 text-center">
                <img src= "{% static 'img/bee.jpg' %}" alt="" style="width: 240px; height: 200px;">
            </div>
            <hr>

            <div style="text-align: justify;">
                <h4><p> Привет!</p></h4>
                <div style="text-align: justify;">
                    <p>Меня зовут Наталья и я являюсь директором туристического агентства ООО «География-24» в городе
                        Красноярске. В сфере туризма я работаю более 6 лет и за это время посетила множество
                        удивительных мест по всему миру. Моя страсть к путешествиям и желание поделиться этими
                        впечатлениями вдохновили меня создать наше агентство, чтобы помочь вам осуществить свои мечты о
                        путешествиях.</p>
                    <p>Мы готовы предложить вам широкий выбор туров и услуг, чтобы каждое ваше путешествие стало
                        незабываемым. Мы работаем с надежными партнерами и туроператорами, чтобы гарантировать высокий
                        уровень сервиса и комфорта во время вашего отдыха. </p>
                    <p>Нашим приоритетом является ваше удовлетворение и безопасность. Мы тщательно планируем каждую
                        поездку, учитывая ваши предпочтения и бюджет. Мы также предлагаем индивидуальные консультации и
                        рекомендации, чтобы помочь вам сделать правильный выбор и получить максимум от своего
                        путешествия.</p>
                    <p>Благодарим вас за выбор нашего агентства. Мы гордимся тем, что помогаем людям открывать новые
                        горизонты и создавать незабываемые воспоминания. Доверьте нам свои мечты о путешествиях, и мы
                        сделаем все возможное, чтобы они стали реальностью.</p>
                    <p>С наилучшими пожеланиями,<br>Директор туристического агентства<br>ООО «География-24»<br>Наталья
                        В.</p></div>
            </div>
            </p>
        </div>
        <div class="card-body text-center">
            <a href="{% url 'index' %}" class="btn btn-info btn-block">На главную страницу</a>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white" id="copyright"></p>
        </div>
    </footer>
{% endblock %}
